.search-box{
	position: absolute;
	top:70%;
	left:40%;
	display: none;
}

.search-box input{
	border:none;
	background: none;
	z-index: 3;
	width: 25px;
	height: 35px;
	transition: all .25s ease-in 0.25s;
	color: transparent;
	line-height: 25px;
}

@media only screen and (min-width: 798px) {
	.search-box input{
		z-index: 3;
		width: 25px;
		height: 35px;
		line-height: 25px;
	}
}

.search-box input:hover{
	cursor: pointer;
}

.search-box input:hover:focus{
	cursor: text;
}

.search-box input:hover + span{
	background: rgba(255,255,255, 0.2);
}

.search-box input:focus{
	width: 24vw;
	padding: 0 10px;
	outline: none;
	color: black;
	background: none;
	color: #fff;
}

.search-box input:focus + span{
	width: 24vw;
}

.search-box input:focus + span::before{
	width: 2px;
	opacity: 0;
	transition: all .25s ease-in;
}

.search-box input + span{
	z-index: 2;
	position: absolute;
	border: 2px solid #fff;
	top: 0;
	width: 25px;
	height: 25px;
	transition: all .25s ease-in .25s;
	border-radius: 25px;
	left: 0;
	transform: translateY(3px);
}

.search-box input + span::before{
	transition: all .25s ease-in .25s;
	transform-origin: left top;
	content: '';
	position: absolute;
	width: 15px;
	height: 5px;
	border-radius: 5px;
	background: #fff;
	transform: rotate(45deg) translate(30px, -4px);
}

/* clears the 'X' from Internet Explorer */
input[type=search]::-ms-clear {  display: none; width : 0; height: 0; }
input[type=search]::-ms-reveal {  display: none; width : 0; height: 0; }

/* clears the 'X' from Chrome */
input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration { display: none; }
